@import '../node_modules/bulma/sass/utilities/initial-variables';

$color1: #222222;
$color2: #f9f9f9;
$color3: #ae956d;
$color4: #4bb8e8;
$color5: #255b73;

$pink-invert: #fff;
$family-serif: 'Merriweather', 'Georgia', serif;

$primary: $color5;
$secondary: $color2;
$primary-invert: white;
$family-primary: $family-serif;

.leaflet-marker-icon:not(.marker-cluster) {
  background: none !important;
  border: none !important;
}

.awesome-marker i {
  font-size: 18px;
  margin-top: 5px;
  font-style: normal;
}

.marker-cluster.marker-cluster-small,
.marker-cluster.marker-cluster-medium,
.marker-cluster.marker-cluster-large {
  background: rgba(255, 255, 255, 0.5);
  margin-left: -30px !important;
  margin-top: -30px !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 30px !important;
  div {
    background-color: $color5;
    color: $color2;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    margin-top: 7px;
    margin-left: 7px;
    span {
      line-height: 45px;
      font-size: 15px;
      font-weight: bolder;
    }
  }
}

@import '~react-leaflet-markercluster/dist/styles.min.css';
@import '../node_modules/bulma/bulma';
@import './styles/slider';

.shape-rectangle:before {
  content: '\2B22';
}
.shape-square:before {
  content: '\25A0';
}
.shape-circle:before {
  content: '\25AE';
}
.shape-inside:before {
  content: '\25C9';
}
.shape-trapezoid:before {
  content: '\25B0';
}
.shape-cross:before {
  content: '\1F7A4';
}
.shape-foil:before {
  content: '\2663';
}
