@import '../node_modules/bulma/sass/utilities/initial-variables';

$color1: #222222;
$color2: #f9f9f9;
$color3: #ae956d;
$color4: #4bb8e8;
$color5: #255b73;

$primary: $color5;
$secondary: $color2;
$primary-invert: white;
$panel-w: 400;

.leaflet-marker-icon:not(.marker-cluster) {
  background: none !important;
  border: none !important;
}

.awesome-marker i {
  font-size: 18px;
  margin-top: 5px;
  font-style: normal;
}

.marker-icon .icon-text {
  color: $color2;
}

.marker-cluster.marker-cluster-small,
.marker-cluster.marker-cluster-medium,
.marker-cluster.marker-cluster-large {
  background: rgba(255, 255, 255, 0.5);
  margin-left: -30px !important;
  margin-top: -20px !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 30px !important;
  div {
    background-color: $color5;
    color: $color2;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    margin-top: 7px;
    margin-left: 7px;
    span {
      line-height: 45px;
      font-size: 15px;
      font-weight: bolder;
    }
  }
}

@import '~react-leaflet-markercluster/dist/styles.min.css';
@import '../node_modules/bulma/bulma';
@import './styles/slider';
@import './styles/checkradio';

.map-wrapper {
  top: 0;
  bottom: 0;
  right: 0;
  left: $panel-w;
  position: fixed;
  .leaflet-container {
    height: 100%;
    width: 100%;
  }
}

.info {
  .time-legend-wrapper {
    margin-top: 10px;
  }
}

.panel-wrapper {
  height: 100%;
  overflow-y: auto;
  overflow-x: none;
  bottom: 0;
  left: 0;
  width: $panel-w;
  position: fixed;
  color: $color2;
  background-color: $color5;
  padding: 20px;
  .title,
  .subtitle {
    color: $color2;
    strong {
      color: $color2;
    }
  }
  .subtitle.section-label {
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .panel-control {
    padding-left: 10px;
    padding-bottom: 15px;
    strong {
      color: $color2;
    }
  }

  .shape-filter {
    .checkbox {
      display: block;
      label {
        padding-left: 20px;
        i.shape {
          font-style: normal;
          font-size: 15px;
          padding-left: 10px;
          padding-right: 5px;
          vertical-align: top;
        }
      }
      &.only-label {
        label {
          padding-left: 30px;
        }
      }
    }
  }
  .time-slider {
    span {
      display: inline;
    }
    .slider-wrapper {
      input {
        display: inline;
        width: calc(100% - 80px);
        margin: 0px 5px;
      }
    }
    .label {
      color: white;
      max-width: 40px;
    }
    .max-min-label {
      font-weight: normal;
    }
  }

  .column-label {
    vertical-align: center;
    &.column-label-left {
      text-align: right;
    }
  }
  .no-date-checkbox {
    margin-top: 10px;
  }
}

.leaflet-container {
  .leaflet-popup {
    margin-bottom: 60px;
    .leaflet-popup-close-button {
      color: black;
    }
    .leaflet-popup-content-wrapper {
      border-radius: 0px;
      .leaflet-popup-content {
        margin-right: 25px;
        margin-left: 10px;
      }
      .marker-tooltip {
        .title {
          padding-bottom: 0px;
          margin-bottom: 0px;
          color: $color5;
        }
        .line {
          margin: 5px 0;
          .definition {
            font-weight: bolder;
          }
          .value {
            padding-left: 5px;
          }
        }
      }
    }
  }
}

.modal {
  p {
    padding-bottom: 5px;
  }
}

.leaflet-pane.leaflet-tooltip-pane,
.leaflet-pane.leaflet-popup-pane {
  z-index: 1000;
}
