@import '../node_modules/bulma/sass/utilities/initial-variables';

$color1: #222222;
$color2: #f9f9f9;
$color3: #ae956d;
$color4: #4bb8e8;
$color5: #255b73;

$pink-invert: #fff;
$family-serif: 'Merriweather', 'Georgia', serif;

$primary: $color5;
$secondary: $color2;
$primary-invert: white;
$family-primary: $family-serif;

@import '../node_modules/bulma/bulma';
@import './styles/slider';
